extends layout

block content
  h1 Welcome to the Hompage!
  p.
    This is the homepage... you probably should go and...

  a.btn.btn-lg.btn-primary(href="/users").
    Check Out the "/users" Page!

