doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/app.css')
  body
    
    ul
      li
        a(href='/users') Users
      li
        a(href='/users/new') Users New

    div(class="container")
      block content
