extends ../layout
block content
    h1 New User
    p Why not create a user...

    form(action="/users", method="POST")
        div
            label Username
            br
            input(type="text", name="username")
        div
            label First Name
            br
            input(type="text", name="first_name")
        div
            label Last Name
            br
            input(type="text", name="last_name")
        div
            button Create User
